<div class="flex flex-col justify-between w-12 h-screen bg-slate-900 border-r border-slate-600 fixed top-0 left-0" >
    <div>
      <div class="inline-flex items-center justify-center w-12 h-12">
        <span class="block w-8 h-8 bg-slate-800 rounded-lg"></span>
      </div>
  
      <div class="border-t border-slate-600">
        <nav class="flex flex-col p-2">
        
  
          <ul class="pt-4 space-y-1 ">

            <li>
              <a
              
                href="/"
                class="flex justify-center px-1 py-1.5 text-gray-500 rounded hover:bg-gray-50 hover:text-gray-700 relative group <% if (page_name === 'home') { %> bg-slate-300 <% } %>"
                
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 opacity-75"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                  />
                </svg>
  
                <span
                  class="absolute text-xs font-medium text-white bg-gray-900 left-full ml-4 px-2 py-1.5 top-1/2 -translate-y-1/2 rounded opacity-0 group-hover:opacity-100"
                >
                  Gallery
                </span>
              </a>
            </li>
  
            <li>
              <a
                href="/upload"
                class="flex relative group justify-center px-1 py-1.5 text-gray-500 rounded hover:bg-gray-50 hover:text-gray-700 <% if (page_name === 'upload') { %> bg-slate-300 <% } %>"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 opacity-75"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path stroke="none" d="M0 0h24v24H0z"/>  
                  <circle cx="12" cy="13" r="3" />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h2m9 7v7a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />  <line x1="15" y1="6" x2="21" y2="6" />  <line x1="18" y1="3" x2="18" y2="9"
                  />
                </svg>
  
                <span
                  class="absolute text-xs font-medium text-white bg-gray-900 left-full ml-4 px-2 py-1.5 top-1/2 -translate-y-1/2 rounded opacity-0 group-hover:opacity-100"
                >
                  Add picture
                </span>
              </a>
            </li>
            <li>
              <a
                href="https://github.com/fataranto/fototecaStarterTailwind"
                class="relative group flex justify-center px-1 py-1.5 text-gray-500 rounded hover:bg-gray-50 hover:text-gray-700"
                target="_blank"
              >
              <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 opacity-75"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                
              />
            </svg>
  
                <span
                  class="absolute text-xs font-medium text-white bg-gray-900 left-full ml-4 px-2 py-1.5 top-1/2 -translate-y-1/2 rounded opacity-0 group-hover:opacity-100"
                >
                  Github
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  
    
  </div>