<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('./partials/head'); %>
    </head>
</head>
<body class="bg-slate-800">
    <div class="flex flex-col md:flex-row justify-center content-center h-screen w-screen">
        <div class="grow basis-1/2 w-full flex items-center p-10">
            <div>
                <h2 class="text-3xl text-slate-400 font-bold pt-6 mb-8">Prrrrrrr...</h2>
                <h3 class="text-xl text-slate-400">Someone took all our photos.</h3>
                <p class=" text-slate-400"> 
                    You have the chance to change this situation.
                    Please go to the <a class="underline hover:text-slate-200" href="/upload">upload image page</a> and add a picture to give a new life to My Beautiful Gallery.
                </p>
            </div>
        </div>
        <div class="grow basis-1/2 w-full bg-[url('https://wallpaperaccess.com/full/2111328.jpg')] bg-no-repeat bg-cover bg-center"></div>
    </div>
</body>
</html>