@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
  @apply w-32 px-6 py-1 bg-yellow-900 hover:bg-primary text-primary hover:text-yellow-900 font-bold rounded-2xl;
}}



/* pseudo selectores y otros especiales */
:root {
  --primary: #ffffff;
  --secondary: #3f2f21;
  --bg-primary: rgba(190, 183, 171, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


